# Configure Cloudflare Worker

name = "indiantrailcomfortsolutions-web"
compatibility_date = "2025-07-31"
main = "./worker.ts"
keep_vars = true

[vars]
FROM_EMAIL = "noreply@indiantrailcomfortsolutions.com"
TO_EMAIL = "indiantrailcomfortsolutions@gmail.com"

[build]
command = "chmod a+x build.sh && ./build.sh"

[assets]
directory = "./public"
not_found_handling = "404-page"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
