{{ define "main" }}
{{ partial "page-header" . }}

<section class="section">
    <div class="container">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {{ range $i, $e := site.Data.special_offers }}
                    <li class="p-4 border border-itcs_light border-dashed text-center">
                        <div class="mb-4">{{ partial "logo" }}</div>
                        <h3 class="text-itcs_dark mb-4">{{ .title }}</h3>
                        {{if .subtitle}}
                        <h4 class="mb-4">{{ .subtitle }}</h4>
                        {{end}}
                        <a href="/#contact" class="inline-block rounded-md py-2 px-4 font-bold font-secondary text-2xl border border-green-600 text-green-600 shadow-lg shadow-green-200/80 hover:bg-green-600 hover:text-white uppercase">Schedule Now</a>
                    </li>
            {{ end }}
        </ul>
    </div>
</section>

{{ end }}
