// Add your own custom styles here

// Nav item hover states
// Always rounded for nav links
.nav-link {
  border-radius: 0.5rem;
  transition: color 0.2s, background 0.2s;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #01359a; // ITCS blue
    border-radius: 0.5rem; // rounded corners
    text-decoration: none;
  }
}

// Always rounded for dropdown links
.nav-dropdown-link {
  border-radius: 0.5rem;
  transition: color 0.2s, background 0.2s;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #01359a; // ITCS blue
    border-radius: 0.5rem; // rounded corners
    text-decoration: none;
  }
}
@keyframes lights {
  0%,50% {
    background-position: top;
  }
  50.1%,100% {
    background-position: bottom;
  }
}

//#lights {
//  background:url(/banners/BdGY6tH_2x.png);
//  right: 0;
//  left: 0;
//  position: absolute;
//  top: 0;
//  height: 138px;
//  animation: lights 1s infinite;
//  z-index: 10;
//}